@using AppDeMensagem.Shared.Header.Components



<main class="flex w-full flex-col justify-between bg-zinc-100">
	<!--CABEÇALHO (header)-->
	<HeaderMaster />

	<!-- HERO SECTION (Seção de Destaque) -->
	<HeroSection />

	<!-- RECURSOS / FEATURES (Cards simples) -->
	<Recursos />

</main>
