@using AppDeMensagem.Shared.Header.Models
@using Shared.Header.Services
@inject HeaderService HeaderService

<header class="flex h-full w-full items-center justify-between border-b border-zinc-400 bg-zinc-300 px-6 py-4 shadow-sm">

	<!-- Logo com Ícone e Nome -->
	<NavLink href="/" class="group flex items-center gap-3">
		<div class="relative flex h-12 w-12 items-center justify-center rounded-full bg-blue-500 text-xl font-extrabold text-white shadow-md transition-all duration-300 group-hover:scale-105">
			@(HeaderService.IsLogged && !string.IsNullOrEmpty(HeaderService.Name)
			? HeaderService.Name[0].ToString().ToUpper() : "K")
			<!-- Detalhe da Coroa -->
			<span class="absolute top-0 right-4 text-xs">👑</span>
		</div>
		<div class="flex flex-col">
			<span class="text-lg leading-tight font-extrabold text-zinc-800 transition-colors group-hover:text-blue-600">
				King of Zap Zap
			</span>
			<span class="text-xs font-medium text-zinc-600">O Mensageiro</span>
		</div>
	</NavLink>

	<!-- Navegação / Links -->
	<NavHeader />
	

</header>

@code {

	protected override async Task OnInitializedAsync()
	{
		await HeaderService.GetUser();
	}
}