@using AppDeMensagem.Shared.Header.Components
@inherits LayoutComponentBase
<link href="~/wwwroot/Layout/layout.css" rel="stylesheet" />

<main class="flex min-h-screen flex-col items-center bg-zinc-600 text-white">
	<HeaderMaster></HeaderMaster>
	@Body
</main>

