@using AppDeMensagem.Shared.Header.Components
@inherits LayoutComponentBase
<link href="~/wwwroot/Layout/layout.css" rel="stylesheet" />

<main class="bg-zinc-600 text-white flex flex-col items-center min-w-screen min-h-screen">
	<HeaderMaster></HeaderMaster>
	@Body
</main>

