

<section class="flex h-screen w-full">
	<div class="hidden h-screen bg-blue-500 md:flex md:w-[50%] lg:w-[60%]" />
	<article class="flex w-full justify-center md:w-[50%] lg:w-[40%]">
		<CadastroForm></CadastroForm>
	</article>
</section>
