@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Auth.Services
@inject LoginService LoginService
@inject NavigationManager navigation

<EditForm Model="LoginService.ModelUser"
		  OnValidSubmit="HandleSubmit" class="flex h-screen w-full flex-col items-center justify-center"
		  OnInvalidSubmit="@(() =>
		  {
			  LoginService.ErrorLogin.Clear();
			  LoginService.ErrorLogin.Add("Campos inválidos. ");
		  })">

	<div class="flex w-[90%] flex-col justify-center gap-6 p-2 md:w-[80%]">
		<DataAnnotationsValidator />

		<div class="flex flex-col gap-2 text-zinc-500">
			<label class="font-bold text-zinc-500">E-mail: </label>
			<InputText @bind-Value="LoginService.ModelUser.Email" class="rounded-lg border border-zinc-300 p-1 outline-none focus:border-2 focus:border-blue-500" />
			<ValidationMessage For="@(() => LoginService.ModelUser.Email)" class="text-red-500" />
		</div>

		<div class="flex flex-col gap-2 text-zinc-500">
			<label class="font-bold">Senha: </label>
			<InputText @bind-Value="LoginService.ModelUser.Password" class="rounded-lg border border-zinc-300 p-1 outline-none focus:border-2 focus:border-blue-500" />
			<ValidationMessage For="@(() => LoginService.ModelUser.Password)" class="text-red-500" />
		</div>

		<div class="flex w-full justify-center">
			<button type="submit" class="w-full cursor-pointer rounded-lg bg-zinc-500 p-2 transition-all duration-300 hover:bg-zinc-600">
				Salvar
			</button>
		</div>

	</div>

	<div class="flex flex-col justify-center text-center text-zinc-500">
		<p>Não tem uma conta? <NavLink href="/cadastro" class="text-blue-300">Cadastre-se aqui!</NavLink></p>
		<NavLink href="/" class="text-blue-300">Voltar a tela home</NavLink>
	</div>

	<div>
		<div class="text-red-500">
			@foreach (string erro in LoginService.ErrorLogin)
			{
				<p>@erro</p>
			}
		</div>
	</div>

</EditForm>

@code {
	private async Task HandleSubmit()
	{
		LoginService.ErrorLogin.Clear();
		var result = await LoginService.LogarUser();
		if (result)
		{
			navigation.NavigateTo("/user");
		}
		else
		{
			LoginService.ErrorLogin.Add("Ocorreu algum erro no login");
		}
	}
}
